/* *************************************
    * 프로젝트명 : commanine
    * 디렉토리   : public/css
    * 파일명     : adminRoomInsert.css
    * 이력       : 0722 v001 KMH new
    * *********************************** */ 
.hanoks-info,.rooms,.title{
    margin-top:20px;
}
.hanok-tit,.room-tit{
    font-size:18px;
    text-align: left;
}

.hanok-con, .room-con{
    padding-left: 20px;
    
    margin:10px 0 10px 50px;
}

/* .room-con{
    border:1px solid #000;
    width:90%;
} */

.room-con:focus{
    outline:none;
}
.img-file{
    border:none;
    padding:0;
}

.insert-btn{
    margin-right:30px;
}
.cancel-btn{
    margin-left:50px;
}
textarea{
    height:250px;
}

.preview-box>img{
    width:200px;
    height:150px;
}

/* .btn{
    display:block;
} */

.group-btn{
    margin:40px 0;
}
h2 {
    border-bottom: 5px double #000;
    display: inline-block;
    padding-bottom: 5px;
}
.msg{
    text-align: center;
    color:#ff0000;
    font-weight:900;
}
label::before {
    content: '*'; 
    color: #ff0000;
    margin-right: 5px; 
    font-weight: 900;;
  }


.count-img{
    font-size:12px;
}

input{
    border:none;
    /* outline: none; */
    border-bottom:1px solid #000;
}

input:focus , textarea:focus{
    border-color: #ff0000;
}

.img-box{
    border:none;

}
.require::before{
    content: '*'; 
    color: #ff0000;
    margin-right: 5px; 
    font-weight: 900;;
  }
.textarea-box{
    resize:none;
}
.text-right{
    text-align: right;
}