/* *************************************
    * 프로젝트명 : commanine
    * 디렉토리   : public/css
    * 파일명     : adminHanokDetail.css
    * 이력       : 0723 v001 KMH new
    * *********************************** */ 
.hanoks,.rooms{
    margin-top:20px;
}
.hanok-tit, .room-tit{
    font-size:18px;
    text-align: left;
}


.hanok-con, .room-con{
    /* border: 2px solid #e2e2e2; */
    padding:  10px;
    margin: 20px 0;
}
textarea{
    height:150px;
}
.img-upload{
    position:relative;
    right:0;
}

.line{
    border-top:3px dotted #000;
}

h2{
    font-weight: 900;
    padding-bottom:5px;
    border-bottom: 5px double #000;
}
.room-title{
    display: inline-block;
    margin-top:30px;
}

input:focus,textarea:focus,select:focus{
    outline:none;
}
.page-pad {
    margin:20px;
}
.preview-box{
    width:200px;
}
.room-btn{
    margin:20px 0 ;
}
.amenity{
    width:100px;
    text-align: center;
}


.msg{
    text-align: center;
    color:#ff0000;
}
input{
    border:none;
    /* outline: none; */
    border-bottom:1px solid #000;
}

input:focus , textarea:focus{
    border-color: #ff0000;
}

.img-box{
    border:none;
}

.require::before{
    content: '*'; 
    color: #ff0000;
    margin-right: 5px; 
    font-weight: 900;;
  }
.textarea-box{
    resize:none;
}

.update-btn{
    margin: 0 0 50px 0 ;
}

#hanokImgPreview1
,#hanokImgPreview2
,#hanokImgPreview3
,#roomImgPreview1
,#roomImgPreview2
,#roomImgPreview3{
    margin-top : 30px;
}

.text-right{
    text-align: right;
}

.justify-end{
    justify-self: start;
}
.cancel-btn{
    margin-right: 20px;
}
.hanok-title{
    margin-top:20px;
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active,
.collapsible:hover {
    background-color: #555;
}
.aco-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;

}
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}


.update-btn{
    margin-top: 20px;
}




/* .accordion {
    flex: 3 1 1px;
    display: flex;
    flex-direction: column;
} */

/* 아코디언 아이템 닫혔을때 */

/* .accordion .accordion_item  {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    transition: all 0.5s;
}

.accordion .accordion_item > button {
    display: flex;
    padding: 1rem 1.25rem;
    border: 0;
    align-items: center;
    border-bottom: 1px solid rgb(231, 231, 231);
    overflow-anchor : none;
    background-color: rgb(255, 255, 255);
    
}

.accordion .accordion_item > button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: '';
    background-image: url(./svg/arrow_black.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
} */

.accordion .accordion_item > .accordion_content {
    display: none;
}

/* 아코디언 아이템 열렸을때 */

/* .accordion .accordion_item.open{
    flex: 1 1 1px;
}

.accordion .accordion_item.open > button {
    border: 0;
    color: #f27a62;
    background-color: rgba(240,142,124,0.3);
}

.accordion .accordion_item.open > button::after {
    transform: rotate(-180deg);
}

.accordion .accordion_item.open  > .accordion_content {
    display: flex;
    flex: 1 1 1px;
    overflow-y: auto;
}

.accordion .accordion_item  > .accordion_content::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.accordion .accordion_item  > .accordion_content::-webkit-scrollbar-track {
    background-color: transparent;
}

.accordion .accordion_item > .accordion_content::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #999999;
    border-radius: 10px;
}

 */
