.header-box{
    background-color: #F6F6F0;
}
ul{
    position: relative;
    left: -5%;
    padding-top: 50px;
    list-style: none;
}
ul li {
    padding: 5px;
}
.a-link{
    color:#000;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.1em;
}

.a-link:hover{
    color:#b2b2b2;
    text-decoration: none;
}

header{
    border-bottom: 2px solid #000;
}
.form {
    margin: 30px 0;
}
/* .table{

} */
/* th{
    font-size:1.1em;
} */
.sidebar{
    border-right: 2px solid #b2b2b2;
    /* text-align: center; */
}
.header-box{
    display:flex;
    flex-direction: row;
}
.main-container{
    min-height:90%;
    /* width:1600px; */
}

.login{
    font-size: 15px;
    padding-right:50px;
    padding-top:15px;
}

.pagePadding{
    color:#000;
    text-decoration: none;
    padding:10px;
}
.pagePadding:hover{
    color:#b2b2b2;
}

.currentLink{
    font-size:18px;
    border-bottom: 3px double #000;
    padding-bottom: 1px;
}