
.form{
    height: 40px;
    /* vertical-align: middle; */
}
.input{
    width:300px;
    outline: none;
    height:95%;
}
.selectList {
    height:95%;
}
.btn{
    margin-bottom: 5px;
}
.table{
    font-size: 15px;
    width:100%;
    text-align: center;
}

tr > th{
    font-weight: 900;
}
.form_wrap {
    height: 150px;
}
.reservestatus {
    margin: 10px 0;
}

tr{
    vertical-align: middle;
}

.btn.btn-primary{
    margin: 0;
}


/* 리뷰수정페이지 css */
.reserveup {
    font-size: 20px;
    margin: 20px;
}
.reserveup label{
    margin-right: 15px;
    font-weight: 600;
}
.reserveup input{
    width: 600px;
    margin: 10px 0;
}
