/* 
.sidebar > ul {
    text-decoration: none;

}

.sidebar > ul > li{
    text-decoration: none;
} */
ul{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
    font-weight: 900;
}

a:hover{
    color:#000;
    text-decoration: none;
}
.form {
    margin: 30px 0;
}
/* .table{

} */
th{
    font-size:1.1em;
}