* {
    padding: 0;
    margin: 0;
}
.logo {
    text-align: center;
    font-size: 3rem;
    position: relative;
    /* position: absolute; */
    top: 50%;
    transform: translate(0, -50%);
    color: red;
}
.login {
    font-size: 20px;
}
h1 {
    padding-bottom: 0.5em;
}
a {
    color:black; 
    text-decoration: none;
}
a:visited {
    color:black; 
}
ul {
    font-size: 25px;
    padding-bottom: 60px;
}
.logout {
    width: 50%;
    margin: auto;
    text-align: right;
}