/* *************************************
    * 프로젝트명 : commanine
    * 디렉토리   : public/css
    * 파일명     : adminUsers.css
    * 이력       : 0720 v001 KMH new
    * *********************************** */ 
.form{
    height: 40px;
    /* vertical-align: middle; */
}
.input{
    width:300px;
    outline: none;
    height:95%
}
.btn{
    margin-bottom: 5px;
}
.table{
    width:100%;
    text-align: center;
}
thead{
    background-color: #f3f3f3;
}

tr> th{
    font-weight: 900;
}
tr{
    vertical-align: middle;
}
tbody > tr:hover{
    background-color: rgb(245, 245, 245);
}
.frm{
    margin: 0;
}

.btn.btn-primary
,.btn.btn-secondary
,.btn.btn-danger
,.btn.btn-success{
    margin: 0;
}
.statusBox{
    margin-bottom: 5px;
}

.info {
    display: inline-block;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}
.btnInfo{
    margin: 0 5px 5px 0;
    float: right;
    font-size: 12px;
}
.info.reset{
    background-color: #0b5ed7;
}
.info.ban{
    background-color: #bb2d3b;
}
.info.cancel{
    background-color: #157347;
}
.col-9 {
    margin-top: 40px;
}