/* *************************************
    * 프로젝트명 : commanine
    * 디렉토리   : public/css
    * 파일명     : adminHanokDetail.css
    * 이력       : 0723 v001 KMH new
    * *********************************** */ 
.hanoks,.rooms{
    margin-top:20px;
}
.hanok-tit, .room-tit{
    font-size:18px;
    text-align: left;
}


.hanok-con, .room-con{
    /* border: 2px solid #e2e2e2; */
    padding:  10px;
    margin: 20px 0;
}
textarea{
    height:250px;
}
.img-upload{
    position:relative;
    right:0;
}

.line{
    border-top:3px dotted #000;
}

h2{
    font-weight: 900;
    padding-bottom:5px;
    border-bottom: 5px double #000;
}
.room-title{
    display: inline-block;
    margin-top:30px;
}

input:focus,textarea:focus,select:focus{
    outline:none;
}
.page-pad {
    margin:20px;
}
.preview-box{
    width:200px;
}
.room-btn{
    margin:20px 0 ;
}
.amenity{
    width:100px;
    text-align: center;
}


.msg{
    text-align: center;
    color:#ff0000;
}
input{
    border:none;
    /* outline: none; */
    border-bottom:1px solid #000;
}

input:focus , textarea:focus{
    border-color: #ff0000;
}

.img-box{
    border:none;
}

.require::before{
    content: '*'; 
    color: #ff0000;
    margin-right: 5px; 
    font-weight: 900;;
  }
.textarea-box{
    resize:none;
}

.update-btn{
    margin: 0 0 50px 0 ;
}

#hanokImgPreview1
,#hanokImgPreview2
,#hanokImgPreview3
,#roomImgPreview1
,#roomImgPreview2
,#roomImgPreview3{
    margin-top : 30px;
}

.text-right{
    text-align: right;
}

.justify-end{
    justify-self: start;
}
.cancel-btn{
    margin-right: 20px;
}
.hanok-title{
    margin-top:20px;
}