
.hanoks,.rooms{
    margin-top:20px;
}
.hanok-tit,.room-tit{
    font-size:17px;
    text-align: center;
}

.hanok-con, .room-con{
    padding-left: 20px;
    
    margin:10px 0 10px 50px;
}

.room-con{
    border:1px solid #000;
    width:90%;
}

.room-con:focus{
    outline:none;
}
.img-file{
    border:none;
    padding:0;
}


