
.form{
  height: 40px;
  /* vertical-align: middle; */
}
.input{
  width:300px;
  outline: none;
  height:95%;
}
.selectList {
  height:95%;
}
.btn{
  margin-bottom: 5px;
}
.table{
  font-size: 15px;
  width:100%;
  text-align: center;
}

tr > th{
  font-weight: 900;
}

tr{
  vertical-align: middle;
}

.frm{
  margin: 0;
}

.btn.btn-primary
,.btn.btn-outline-primary
,.btn.btn-outline-danger{
  margin: 0;
}
thead{
  background-color: #f3f3f3;
}