
.hanoks,.rooms{
    margin-top:20px;
}
.hanok-tit,.room-tit{
    font-size:17px;
    text-align: center;
}

.hanok-con, .room-con{
    padding-left: 20px;
    
    margin:10px 0 10px 50px;
}

.room-con{
    border:1px solid #000;
    width:90%;
}

.room-con:focus{
    outline:none;
}
.img-file{
    border:none;
    padding:0;
}

.insert-btn{
    margin-right:30px;
}
.cancel-btn{
    margin-left:50px;
}
textarea{
    height:250px;
    resize:none !important;
}

.preview-box>img{
    width:200px;
    height:150px;
}

/* .btn{
    display:block;
} */

.group-btn{
    margin:20px 0;
}
h2 {
    border-bottom: 5px double #000;
    display: inline-block;
    padding-bottom: 5px;
}
.msg{
    text-align: center;
    color:#ff0000;
    font-weight:900;
}
label::before {
    content: '*'; 
    color: #ff0000;
    margin-right: 5px; 
    font-weight: 900;;
  }