@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@font-face {
    font-family: "ChosunSm";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arita-dotum-Medium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
    font-family: "Arita-dotum-Medium";
    font-weight: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}

/* #id,
#password,
#user_pw,
#user_pwchk,
#passwordChk {
    font-family: Georgia, "Times New Roman", Times, serif;
} */

body {
    max-width: 1900px;
    min-width: 800px;
    min-height: auto;
}
