* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    display: inline-block;
    border: none;
    background: none;
}

.hanokInfo{
    padding: 20px;
}

.hanokComment{
    /* border:1px black solid; */
    width: 100%;
    padding: 20px;
    background-color: #f3f3f3;
}

.roomInfoBtn{
    width: 100%;
    height: 50px;
    border-top: 1px solid #c5c5c5;
    text-align: left;
}

.reserveBtn {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 99%;
    height: 50px;
    border-radius: 5px;
    margin: 3px;
}

.con {
    width: 960px;
    margin: auto;
}

.hanok {
    width: 960px;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

/* .carousel-inner > .item > img {
    min-width: 450px
} */

.imgBox {
    min-width: 450px;
    width: 450px;
    overflow:hidden;
    /* margin-right: 10px; */
}

.img{
    width: 100%;
    object-fit: cover;
}

strong {
    font-size: 20px;
}

.rateCon {
    /* vertical-align: middle; */
    line-height: 36px;
    border-bottom:1px #d6d6d6 solid;
    padding-bottom: 20px;
    /* margin-bottom: 10px; */
}

.detailCon {
    /* margin: auto;
    width: 960px; */
    background-color: white;
    padding: 30px;
}

.tabBox {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
    /* margin-bottom: 20px; */
}

.tabBox .tabBtn{
    font-size: 18px;
    padding: 18px;
}

.tabBox .tabBtn.active {
    font-weight: 600;
}

.content {
    min-height: 100vh;
    margin-top: 20px;
}

.content:nth-child(2) {
    margin-top: 0;
}

.conBox .content{
    display: none;
    margin-bottom: 10px;
}

.conBox .content.active{
    display: block;
}

.line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 108px;
    height: 4px;
    background-color: #000;
}

.heart {
    width: 28px;
    height: 28px;
}

.addrBox{
    height: 4em;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    line-height: 4em;
}

.copy {
    color: #2677ce;
    font-weight: 600;
}

.roomBox{
    display: flex;
    padding: 20px;
}

.roomModal {
    display: none;
    width: 960px;
    padding: 80px;
    position: absolute;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content{
    padding: 30px;
    width: 960px;
}
.msg {
    margin: 0 auto;
    display: inline-block;
}

.amenityInfo{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: left; */
}

.amenityCon {
    text-align: center;
    width: 95px;
    /* padding: 10px; */
}

.roomInfo {
    /* line-height: 319.59px; */
}

.search_form {
    margin-bottom: 20px;
}

#map {
    width:100%;
    height:350px;
}
.amenities {
    width: 64px;
    height: 64px;
}

.serviceCon {
    display: flex;
}

.room {
    border:1px #d6d6d6 solid;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.room2 {
    width: 100%;
}

.roomImg {
    margin-right: 20px;
}

.revInfo{
    text-align: center;
}

.review {
    border-bottom:1px #d6d6d6 solid;
    padding:30px 20px;
}

.text-muted {
    display: none;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    letter-spacing: 12px;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #e2e2e2;
    font-size: 28px;
}

.stars-inner {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: width 2s;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-size:28px;
    color: #f8ce0b;
    letter-spacing: 12px;
}  

.pageCon {
    margin-top: 50px;
}

.page-item > .page-link{
    font-weight: 900;
    background-color: #fff !important;
    color:#8f8e8e !important;
    border:none !important;
}

.page-item.active .page-link{
    font-weight: 900;
    /* background-color: #000 !important; */
    color:#000 !important;
    border:none !important;
}
div>input{
    padding-left:10px;
}
div>input:focus{
    outline:none;
}
a:hover{
    text-decoration: none !important ;
}

@media(max-width: 991px) {
    .con {
        width: 100%;
    }
    .hanok
    , .roomBox{
        flex-direction: column;
    }
    .imgBox
    , .roomImg {
        width: 100%;
        margin-bottom: 10px;
    }
}