* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    display: inline-block;
    border: none;
    background: none;
}

.roomInfoBtn{
    width: 100%;
    height: 50px;
    border-top: 1px solid #c5c5c5;
    text-align: left;
}

.reserveBtn {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 99%;
    height: 50px;
    border-radius: 5px;
    margin: 3px;
}

body{
    background-color: #deeeff;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.hanokInfo {
    width: 960px;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.imgBox {
    min-width: 450px;
    margin-right: 10px;
    /* height: ; */
}

.img{
    width: 100%;
    object-fit: cover;
}

.detailCon {
    margin: auto;
    width: 960px;
    background-color: white;
    padding: 30px;
}

.tabBox {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
}

.tabBox .tabBtn{
    font-size: 18px;
    padding: 18px;
}

.tabBox .tabBtn.active {
    font-weight: 600;
}

.content {
    min-height: 100vh;
}

.conBox .content{
    display: none;
    margin-bottom: 10px;
}

.conBox .content.active{
    display: block;
}

.line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 108px;
    height: 4px;
    background-color: #000;
    /* transition: all .3s ease-in-out; */
}

.like {
    width: 28px;
    height: 28px;
}

.addrBox{
    height: 4em;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    line-height: 4em;
}

.copy {
    color: #2677ce;
    font-weight: 600;
}

.roomBox{
    display: flex;
    padding: 20px;
}

.roomModal {
    display: none;
    width: 960px;
    padding: 80px;
    position: absolute;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content{
    padding: 30px;
    width: 960px;
}

#map {
    width:100%;
    height:350px;
}
.amenities {
    width: 64px;
    height: 64px;
}

.serviceCon {
    /* text-align: center; */
    display: flex;
}
/* .copyAlert {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 3em;
    border-radius: 10px;
    text-align: center;
    line-height: 3em;
    box-shadow: 0px 0px 15px #666;
} */