* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden-button {
    visibility: hidden;
}

button {
    display: inline-block;
    border: none;
    background: none;
}

.hanokInfo {
    width: 100%;
    padding: 20px;
}
.hanok_name {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 2px;
}
.star,
.revStar {
    color: #f8ce0b;
}

.star {
    font-size: 20px;
}
.rate {
    font-size: 20px;
}
.hanokInfo > button {
    margin-left: 10px;
}
.hanokComment {
    /* border:1px black solid; */
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    background-color: #f3f3f3;
}
.room3 {
    margin: 10px 0px;
}

.roomInfoBtn {
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 1px solid #c5c5c5;
    text-align: left;
    padding: 0 5px;
}
.chevron {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    color: #8f8e8e;
}
.reserveBtn {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 99%;
    height: 50px;
    border-radius: 5px;
    margin: 3px;
}

.reserveBtn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: 0.1s;
}

.con {
    width: 960px;
    margin: auto;
}

.hanok {
    width: 960px;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.imgBox {
    min-width: 450px;
    width: 450px;
    overflow: hidden;
}

.img {
    width: 100%;
    object-fit: cover;
}

strong {
    font-size: 20px;
}

.rateCon {
    /* vertical-align: middle; */
    line-height: 36px;
    border-bottom: 1px #d6d6d6 solid;
    padding-bottom: 20px;
    /* margin-bottom: 10px; */
}

.detailCon {
    /* margin: auto;
    width: 960px; */
    background-color: white;
    padding: 30px;
}

.tabBox {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
    /* margin-bottom: 20px; */
}

.tabBox .tabBtn {
    font-size: 18px;
    padding: 18px;
}

.tabBox .tabBtn.active {
    font-weight: 600;
}

.content {
    min-height: 100vh;
    margin-top: 20px;
}

.content:nth-child(2) {
    margin-top: 0;
}

.conBox .content {
    display: none;
    margin-bottom: 10px;
}

.conBox .content.active {
    display: block;
}

.line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100.61px;
    height: 4px;
    background-color: #000;
}

.heart {
    font-size: 20px;
    color: #dd4b68;
}

.addrBox {
    position: relative;
    padding: 0 20px;
    height: 4em;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    line-height: 4em;
}

.copy {
    position: absolute;
    right: 25px;
    color: #2677ce;
    font-weight: 600;
}
/* 인원Box start */

.countBox {
    /* position: absolute;
    top: 100%; 
    right:0;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    width: 179px;
    height: 150px; */
    display: none;
    /* grid-template-rows: repeat(3,1fr); */
}

.countBox.active {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    width: 190px;
    height: 150px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.countWrap {
    position: relative;
    display: inline-block;
}

.countBox > div {
    padding: 10px;
}
.countBox > div > input {
    position: absolute;
    /* right:20px; */
    right: 10px;
    width: 100px;
    text-align: center;
}

.countBox > button {
    width: 150px;
    margin: 0 auto;
    height: 30px;
}
.adultsBox,
.kidsBox {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.adultsBox > label,
.kidsBox > label {
    /* width:55px; */
    text-align: center;
}

.adultsBox > div,
.kidsBox > div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.minBtn,
.plusBtn {
    height: 30px;
    width: 20px;
    background-color: #fff;
    border: none;
}
.adultsVal,
.kidsVal {
    text-align: center;
    border: none;
    outline: none;
}
.dayBox > .ui-datepicker-trigger:hover,
.countChkBtn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.3s;
}

.searchBtn,
.countChkBtn {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.searchBtn {
    padding: 1px 5px;
    font-weight: 900;
}

.searchBtn:hover,
.countChkBtn:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.1s;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inpDate {
    padding-left: 25px;
    width: 125px;
}

.dateCon {
    display: inline-block;
    position: relative;
}

.countInput {
    width: 190px;
    padding-right: 10px;
    text-align: right;
}

.icon1,
.icon2,
.icon3 {
    position: absolute;
    top: 20%;
}
.icon1 {
    left: 32.5%;
}

.icon2 {
    left: 37.5%;
}

.icon3 {
    left: 17.5%;
}

.countBox label {
    width: 55.72px;
}
/* 인원Box end */

.room {
    display: flex;
    padding: 20px;
}

.roomModal {
    display: none;
    width: 960px;
    padding: 80px;
    position: absolute;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    padding: 30px;
    width: 960px;
}
.modalImg {
    margin-bottom: 10px;
}
.msg {
    padding-top: 80px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #464646;
    display: inline-block;
}

.pin {
    color: #b80a0a;
    padding-right: 5px;
}

.amenityInfo {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: left; */
}
.amenityInfo,
.roomCom {
    padding: 20px;
}

.amenityCon {
    text-align: center;
    width: 95px;
    /* padding: 10px; */
}

.roomCom > div {
    margin-bottom: 8px;
}

.filter_form {
    margin-bottom: 20px;
}

#map {
    width: 100%;
    height: 350px;
}
.amenities {
    width: 64px;
    height: 64px;
}

.serviceCon {
    display: flex;
}

.room {
    border: 1px #d6d6d6 solid;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.room2 {
    width: 100%;
}

.roomImg {
    margin-right: 20px;
}

.revInfo {
    text-align: center;
}

.review {
    border-bottom: 1px #d6d6d6 solid;
    padding: 30px 20px;
}

.text-muted {
    display: none;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    letter-spacing: 12px;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #e2e2e2;
    font-size: 28px;
}

.stars-inner {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: width 2s;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-size: 28px;
    color: #f8ce0b;
    letter-spacing: 12px;
}

.pageCon {
    margin-top: 50px;
}

.amenityInfo,
.roomCom {
    border-bottom: 1px #d6d6d6 solid;
}

.serv,
.serv2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
}

.serv2 {
    margin-top: 1em;
}

/* .accordion-button {
    color: #8f8e8e !important;
}
.accordion-button:not(.collapsed) {
    border-bottom: 1px solid #e2e2e2;
    color: #000 !important;
    background-color: #fff !important;
}
.accordion-button:focus {
    border:none !important;
    box-shadow:none !important;
} */
@media (max-width: 991px) {
    .con,
    .hanok {
        width: 100%;
    }
    .hanok,
    .room {
        flex-direction: column;
    }
    .imgBox,
    .roomImg {
        min-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
}
