.wrap{
    height:50%;
    width: 1200px;
    margin: 0 auto;
    position:relative;
}

.msgBox{
    width:400px;
    height:400px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* border:1px solid #000; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
}

.msg{
    padding-top:100px;
}
button{
    width:200px;
    height:40px;
    background-color: #000;
    border:1px solid #000;
    color:#fff;
    
    margin: 0 auto !important;
}


.mainLink{
    color:#fff ;
}

button:hover{
    background-color: #fff;
    transition:all 0.3s;
}

button:hover .mainLink{
    color:#000 !important;
    transition:all 0.3s;
}
