footer {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: #f6f6f0;
}
footer .footer-top ul li {
    display: inline-block;
    font-size: 14px;
}
footer .footer-top ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #444;
    margin-left: 10px;
}

footer .footer-top ul .last:last-child::after {
    content: none;
    width: 0;
    margin: 0;
}

/* footer .footer-top ul {
    padding: 10px;
} */

.footer-top {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

footer .footer-bottom {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-bottom > div {
    display: inline-block;
}

.bottom-left div {
    display: inline-block;
}
.bottom-left .footer-logo {
    vertical-align: top;
}

.bottom-left h4 {
    font-size: 25px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.bottom-left .footer-logo img {
    width: 70px;
}

.bottom-left .footer-logo {
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-bottom .bottom-left {
    border-right: 1px dashed #444;
    padding: 0 100px;
}

.footer-bottom .bottom-right {
    padding: 0 100px;
    /* margin-top: 30px; */
}

@media screen and (max-width: 1568px) {
    .footer-top {
        width: 70%;
    }

    footer .footer-bottom {
        width: 70%;
    }
}

@media screen and (max-width: 1346px) {
    .footer-top {
        width: 80%;
    }

    footer .footer-bottom {
        width: 80%;
    }
}

@media screen and (max-width: 1346px) {
    .footer-top {
        width: 100%;
    }

    footer .footer-bottom {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .footer-bottom .bottom-left {
        padding: 0 50px;
    }
    .footer-bottom .bottom-right{
        padding: 0 50px;
    }
    .footer-top {
        width: 100%;
    }

    footer .footer-bottom {
        width: 100%;
    }
}
