* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    position: relative;
    width: 100%;
}
.header_bg {
    height: 250px;
}
.fix {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 250px;
    background-color: #f6f6f0;
}
nav {
    margin: 0 auto;
}
.logo {
    width: 250px;
    margin: 0 auto;
}
img {
    width: 250px;
}

.nav-a1,
.nav-a2,
.nav-a3,
.nav-a4,
.nav-a5,
.nav-a6 {
    color: #434343;
    font-size: 13px;
}

.nav-a2::before,
.nav-a3::before,
.nav-a4::before {
    content: "|";
    margin-right: 1rem;
}

.nav-a1,
.nav-a2,
.nav-a3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
}

.nav_right {
    float: right;
}

.hide {
    display: none;
}
/* html {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
} */
/* body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
} */
.container {
    width: 75%;
    margin: 0 auto;
}
.container > p {
    line-height: 1.6;
}

.modal {
    /* position: fixed; */
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    border-radius: 0.2em;
}

.btn_search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 3em;
    width: 18em;
    line-height: 2em;
    border-radius: 1em;
    box-shadow: 2px 3px 10px 3px #cfcfcf;

    font-weight: 700;
    background: #f6f6f0;
    cursor: pointer;
    user-select: none;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.modal .inside {
    opacity: 0;
    display: none;
    background-color: #f6f6f0;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 100%;

    text-align: center;
    padding: 2em;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.inside p {
    margin: 0;
}

.inside .btn-close {
    position: absolute;
    top: 1em;
    right: 1em;

    background: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    text-align: center;

    height: 3em;
    width: 3em;
    line-height: 3em;
    border-radius: 3em;
    cursor: pointer;
}

.search_form div {
    display: inline-block;
}

#modalToggle:checked ~ .modal .btn-open {
    animation-name: btnExpand;
}
#modalToggle:checked ~ .modal .inside {
    display: block;
    animation-name: delayedFadeIn;
}

@keyframes btnExpand {
    15% {
        color: transparent;
        width: 10em;
    }
    35% {
        width: 3em;
        height: 3em;
        border-radius: 9999px;
        margin: 0;
    }
    to {
        width: 9999px;
        height: 9999px;
        border-radius: 9999px;
        color: transparent;
    }
}

@keyframes delayedFadeIn {
    from {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

.pro-qty {
    /* pro-qty 클래스가 들어가는 태그에 적용되는 CSS  */
    background: transparent;
    border-radius: 0px;
    font-size: 13px;
    line-height: 38px;
    color: #777777;
    z-index: 0;
}
.pro-qty input {
    /* pro-qty 클래스안에있는 input 태그에 적용되는 CSS  */
    border: 1px solid #2b3146;
    border-radius: 25px;
    background: transparent;
    font-size: 13px;
    width: 50px;
    text-align: center;
    color: #333;
}
.pro-qty div {
    /* pro-qty 클래스안에있는 div 태그에 적용되는 CSS  */
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    letter-spacing: 0.4px;
}
