* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    position: relative;
    width: 100%;
}
.header_bg {
    height: 190px;
}
.fix {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 215px;
    background-color: #f6f6f0;
}
.user_name {
    font-weight: bold;
}
nav {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    display: flex;
}
.menu {
    /* widthL 25% 기존*/
    width: 22%;
}
.menu li {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}
.menu_hanok{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 20px;
}
.logo {
    /* width: 50%; */
    text-align: center;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
}
.logo img {
    /* width: 260px; */
    width: 100%;
}
img {
    width: 250px;
}
.d-menu2 {
    width: 25%;
    /* padding-right: 50px; */
}
.d-inline-flex li {
    display: inline-block;
}

.nav-a1,
.nav-a2,
.nav-a3,
.nav-a4,
.nav-a5,
.nav-a6 {
    color: #434343;
    font-size: 15px;
}

.nav-a2::before,
.nav-a3::before,
.nav-a4::before {
    content: "|";
    margin-right: 1rem;
}

.nav-a1,
.nav-a2,
.nav-a3 {
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.nav_right {
    float: right;
}
.mobile-modal{
    display: none;
}
.hide {
    display: none;
}
/* html {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
} */
/* body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
} */
.container {
    width: 75%;
    margin: 0 auto;
}
.container > p {
    line-height: 1.6;
}

.modal_search {
    /* position: fixed; */
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: 40%;
    background: transparent;
    overflow: hidden;
    border-radius: 0.2em;
    text-align: center;
}

.btn_search {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 3em;
    width: 18em;
    line-height: 3em;
    border-radius: 1em;
    box-shadow: 2px 3px 10px 3px #cfcfcf;

    font-size: 20px;
    color: #cfcfcf;
    font-weight: 700;
    background: #f6f6f0;
    cursor: pointer;
    user-select: none;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.btn-primary{
    border: none;
    height: 2em;
    width: 12em;
    box-shadow: 2px 3px 10px 3px #cfcfcf;
    color: #cfcfcf;
    font-weight: 700;
    background: #f6f6f0;
}
.btn-primary:hover{
    background: #333;

}
.modal_search .inside {
    opacity: 0;
    display: none;
    background-color: #f6f6f0;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 10%;

    text-align: center;
    padding: 2em;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.inside p {
    margin: 0;
}

.inside .btn-close {
    position: absolute;
    top: 1em;
    right: 1em;

    background: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    text-align: center;

    height: 3em;
    width: 3em;
    line-height: 3em;
    border-radius: 3em;
    cursor: pointer;
}

.search_form div {
    display: inline-block;
}

#modalToggle:checked ~ .modal_search .btn-open {
    animation-name: btnExpand;
}
#modalToggle:checked ~ .modal_search .inside {
    display: block;
    animation-name: delayedFadeIn;
}

@keyframes btnExpand {
    15% {
        color: transparent;
        width: 10em;
    }
    35% {
        width: 3em;
        height: 3em;
        border-radius: 9999px;
        margin: 0;
    }
    to {
        width: 9999px;
        height: 9999px;
        border-radius: 9999px;
        color: transparent;
    }
}

@keyframes delayedFadeIn {
    from {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
#hanok_name,
.hasDatepicker {
    background-color: transparent;
    border: 1px solid #333;
}

.main_btn {
    grid-column: 1/3;
    width: 50px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
}
.main_btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.3s;
}

.pro-qty {
    /* pro-qty 클래스가 들어가는 태그에 적용되는 CSS  */
    background: transparent;
    border-radius: 0px;
    font-size: 13px;
    line-height: 38px;
    color: #777777;
    z-index: 0;
}
.pro-qty input {
    /* pro-qty 클래스안에있는 input 태그에 적용되는 CSS  */
    padding: 3px;
    border: 1px solid #2b3146;
    border-radius: 25px;
    background: transparent;
    font-size: 13px;
    width: 50px;
    height: 30px;
    text-align: center;
    color: #333;
}
.search_form1 input:focus,
.search_form2 input:focus {
    outline: none;
}
.pro-qty input:focus {
    outline: none;
}
.pro-qty div {
    /* pro-qty 클래스안에있는 div 태그에 적용되는 CSS  */
    width: 50px;
    text-align: center;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    letter-spacing: 0.4px;
}

a:hover {
    color: #000;
}
a {
    color: #000;
}
.pagePadding {
    padding: 5px;
    color: #a3a3a3;
}
.currentLink {
    color: #000;
    text-decoration: underline;
}

.pagePadding:hover {
    color: #000;
}

/* 햄버거 */
.mobile-bar .bar-btn {
    z-index: 999999999;
    position: fixed;
    right: 30px;
    top: 30px;
    display: none;
}

.bar-btn span {
    width: 25px;
    height: 2px;
    background-color: #444;
    display: block;
    transition: 0.4s;
    cursor: pointer;
}

.bar-btn .bar2 {
    margin: 5px 0;
}

.on .bar1 {
    transform: rotate(40deg) translateY(11px);
}

.on .bar2 {
    opacity: 0;
}

.on .bar3 {
    transform: rotate(-40deg) translateY(-10px);
}
.hiuser{
    padding: 10px 0;
}
.mobile-bar .bar-slide {
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-color: rgba(251, 247, 247, 0.9);
    z-index: 99999999;
    position: absolute;
    text-align: center;
}

.slide-menu li {
    float: right;
}
.slide-menu {
    /* background-color: #333; */
    width: 80px;
    margin: auto;
    margin-top: 20px;
}

.nav-a2::before,
.nav-a3::before,
.nav-a4::before {
    content: "";
}

/* 모바일 모달 */
.mo-search {
    padding: 5px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
/* 반응형 */
@media screen and (max-width: 1469px) {
    .hidden-button li{
        margin-right: 5px;
    }
    .hidden-button a{
        font-size: 13px;
    }
    .d-inline-flex {
        font-size: 13px;
    }
    .d-inline-flex a {
        font-size: 13px;
    }
    .nav-a1, .nav-a2, .nav-a3{
        margin-right: 0;
    }
}
@media screen and (max-width: 1067px) {
    nav {
        /* width: 50%; */
        margin: 0 auto;
    }
   .menu,.menu2 {
    width: 0;
   }
    .mobile-modal{
        display: block;
    }
    .slide-menu{
        width: 90%;
    }
    .slide-menu li {
        float: none;
        /* text-align: center; */
    }
    .d-inline-flex {
        display: none;
    }

    .mobile-bar .bar-btn {
        display: block;
    }
    .btn_search {
        display: none;
    }
    .hidden-button {
        visibility: hidden;
        /* display: none; */
    } 
    .d-inline-flex {
        visibility: hidden;
    }
    nav{
        height: 100px;
    }
    .menu{
        width: 25%;
    }
    /* .logo img{
        width: 100%;
    } */
    .bg {
        color: #ffffff;
    }
    .fix {
        height: 190px;
    }
    .bannerevent{
        width: 100%;
    }
}
/* @media screen and (max-width: 415px) {

   .logo img{
    width: 100%;
}
} */


