.reserveList {
    font-weight: 900;
    font-size: 1.1em;
}
.reserveList::before {
    content: "\00B7";
    padding-right: 5px;
}
.reserve_box {
    width: 600px;
    margin: 0 auto;
}
.reserve_content {
    border: 1px solid #5c5c5c;
    border-radius: 25px;
    margin: 0 auto;
    width: 800px;
    height: 350px;
}

.reserve_content .con {
    display: inline-block;
    padding: 20px 20px 0;
}
.reserve_content .reserve_img {
    vertical-align: top;
}
.reserve_content .reserve_img img {
    border-radius: 25px;
}

.reserve_cont {
    margin-top: 50px;
}

.text-muted {
    display: none;
}
