.hidden-button {
    visibility: hidden;
}
.infoList {
    font-weight: 900;
    font-size: 1.1em;
}
.infoList::before {
    content: "\00B7";
    padding-right: 5px;
}
h2 {
    padding: 30px 0;
}
.infoBox {
    margin-left:150px;
    width: 600px;
    height: 443px;
}
.infoBox > div {
    font-size: 20px;
}
.reserve_con {
    /* position: relative; */
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.updateBtn {
    /* position:absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%); */
    grid-column: 1/3;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    background-color: #000;
    color: #fff;
    border: none;
}
.updateBtn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.3s;
}

/* .reserve_wrap {
    width: 800px;
    margin: 0 auto;
}
.reserve_con {
    border: 1px solid #5c5c5c;
    border-radius: 25px;
}

.reserve_con .con {
    display: inline-block;
}

.reserve_con .reserve_img {
    vertical-align: top;
} */

@media screen and (max-width: 768px) {
    .wrapGrid{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 9fr;
        margin: 0 auto;
        width: 80vw;
    }
    .listWrap > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 80vw;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .list {
        margin: 0;
    }
    .infoBox {
        margin-left: 0;
        width: 80vw;
    }
    h2 {
        padding: 0;
    }
    .reserve_con{
        grid-template-columns: 1fr 1fr;
        width: 60vw;
        justify-items: center;
        padding-left: 0vw;
    }
    .infoBox > div {
        font-size: 1rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
} 