.hidden-button {
    visibility: hidden;
}
.wrap {
    min-height: 410px;
}
h2 {
    padding: 30px 0;
}
.reserveList {
    font-weight: 900;
    font-size: 1.1em;
}
.reserveList::before {
    content: "\00B7";
    padding-right: 5px;
}
.reserve_box {
    width: 600px;
    margin: 0 auto;
}
.reserve_content {
    position: relative;
    border: 1px solid #5c5c5c;
    border-radius: 25px;
    margin: 0 auto;
    width: 800px;
    height: 350px;
    margin-bottom: 40px;
}

.reserve_content .con {
    display: inline-block;
    padding: 20px 20px 0;
}
.reserve_content .reserve_img {
    vertical-align: top;
}
.reserve_content .reserve_img img {
    border-radius: 25px;
}

/* .reserve_cont {
    margin-top: 50px;
} */
.reserve_flg {
    position: absolute;
    right: 5%;
    top: 8%;
}
.text-muted {
    display: none;
}

.review_btn {
    position: absolute;
    bottom: 15%;
    left: 6%;
    grid-column: 1/3;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    background-color: #000;
    color: #fff;
    border: none;
}
.review_btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.3s;
}
.con .contit {
    font-weight: bold;
}
