 /**************************************
 * 프로젝트명 : commanine
 * 디렉토리   : public/css
 * 파일명     : login.css
 * 이력       : 0616 KMH new
 * *********************************** */ 
 /* add 0703 byj */
 .hidden-button {
    visibility: hidden;
} 

 .box{
     position:relative;
     width:100%;
     /* height:800px; */
     height:50%;
     text-align: center;
     border-left:1px solid #e2e2e2;
     border-right:1px solid #e2e2e2;
    }
    
.loginBox{
    position:absolute;
    width:400px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #000;
}
.title{
    margin:0;
    padding:20px 0 ;
}
    .msg{

    font-size: 14px;
}
.formBox{
    display:grid;
    padding: 0 20px;
    grid-template-rows: repeat(3,1fr);
}

form>input{
    margin-bottom:10px;
    padding: 5px 10px;
    outline: none;
    border:1px solid #000;
}

.alertSuc{
    height: 20px;
    font-size:14px;
}
.registBtn{
    display: block;
    color:#000;
    text-align:right;
    padding-right: 20px;
    /* position:absolute; */
}
.registBtn:hover{
    color:rgba(0, 0, 0, 0.5);
}

.loginBtn{
    border:none;
    background-color: #000;
    color:#fff;
}

.loginBtn:hover{
    border:1px solid #000;
    background-color:#fff;
    color:#000;
    transition: all 0.4s;
}