main {
    min-height: auto;
}
.bg {
    height: 300px;
    background-color: #f6f6f0;
}

.gnb img {
    width: 100px;
}
.nav-form i {
    font-size: 18px;
}
.nav-border {
    position: relative;
    top: -200px;
}
.nav-border li:hover img {
    opacity: 0.5;
}

.gnb {
    /* width: 90%;
    display: grid;
    list-style-type:none;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto); */
    text-align: center;
}

.gnb li {
    display: inline-block;
    margin: 0 120px 0 0;
}
.gnb li:last-child {
    margin-right: 0;
}

.inner-wrapper h4 {
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #e1e0e0;
}

.carousel-inner h4 {
    font-family: "Roboto", sans-serif;
    padding: 20px 0;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #979696;
}

.recent {
    margin: 100px;
}

.ratestar img {
    width: 16px;
}
.cate {
    width: 160px;
    height: 160px;
    /* background-color: #f8f8f8; */
    /* padding: 15px; */
    border-radius: 50%;
    border: 4px solid #f8f8f8;
}
.cate img {
    margin-top: 15px;
}
.cate p {
    padding-top: 10px;
}
.card-body {
    padding: 10px;
}
.card-body span {
    float: right;
}
.card_bottom {
    margin-top: 65px;
}
.card-text {
    font-size: 20px;
    padding-top: 8px;
}
/* section 02*/
.myCarousel {
    position: relative;
    background-color: #f8f8f8;
    height: 700px;
}

.myCarousel .slides-wrapper .slides {
    position: absolute;
}

.myCarousel .slides-wrapper .slides.content {
    height: 60%;
    width: 30%;
    top: 20%;
    right: 10%;
    left: 60%;
}

/* .myCarousel .slides-wrapper .slides.content .bodytext {
    padding: 80px 0;
    position: relative;
    top: 10%;
    transform: translateY(-30%);
    color: #000;
} */

.myCarousel .slides-wrapper .slides.content .bodytext .tag {
    padding: 60px 0;
}

.myCarousel .slides-wrapper .slides.content .bodytext .comment {
    padding-top: 30px;
    font-size: 15px;
}
.myCarousel .slides-wrapper .slides.content .bodytext .more {
    color: #979696;
}
.myCarousel .slides-wrapper .slides.content .bodytext .more:hover {
    opacity: 50%;
}
.myCarousel .slides-wrapper .slides.content .title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 60px;
}

.myCarousel .slides-wrapper .slides.content .subtitle {
    font-size: 15px;
}

.myCarousel .slides-wrapper .slides.photo {
    height: 60%;
    width: 30%;
    top: 20%;
    left: 20%;
}

.myCarousel .slides-wrapper .slides.photo .image {
    /* position: relative; */
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-position: center;
}

.myCarousel .slides-wrapper .slides.photo .image img {
    width: 100%;
}

.myCarousel .slides-wrapper .slides.title {
    height: 100%;
    width: 30%;
    /*  bottom: 0;*/
    left: 0;
}

.myCarousel .slides-wrapper .slides.title .bodytext {
    /*    padding: 0 50px;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.myCarousel .slides-wrapper .slides.title .title {
    margin: 0;
    color: #fff;
    margin-bottom: 5px;
    font-family: serif;
    font-size: 2.25em;
    letter-spacing: 1px;
}

.myCarousel .slides-wrapper .slides.title .link {
    /*    position: relative;*/
    color: #444;
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 3px;
}

.myCarousel .slides-wrapper .slides.title .link:hover span {
    opacity: 0.5;
}

.myCarousel .slides-wrapper .slides.title .link:hover:after {
    right: -18px;
}

.myCarousel .slides-wrapper .slides.counter {
    position: absolute;
    top: 40%;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
}

.myCarousel #arrows {
    position: absolute;
    top: 65%;
    right: 8%;
    padding: 20px 0 0 50px;
}

.myCarousel #arrows span {
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    color: #000;
    padding: 0 5px;
}

.myCarousel #arrows .prev,
.myCarousel #arrows .next {
    width: auto;
    height: auto;
    border: none !important;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
}

.myCarousel #arrows .prev {
    position: relative;
    margin-right: 45px;
}

.myCarousel #arrows .next {
    position: relative;
}

.myCarousel #arrows .prev::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(225deg);
}

.myCarousel #arrows .next::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(-320deg);
}

.myCarousel #arrows .prev.disable,
.myCarousel #arrows .next.disable {
    display: none;
}

.myCarousel #arrows .prev:hover,
.myCarousel #arrows .next:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1400px) {
    .myCarousel .slides-wrapper .slides.content .title {
        font-size: 50px;
    }

    .myCarousel .slides-wrapper .slides.photo {
        height: 50%;
        left: 12%;
        width: 500px;
    }

    .myCarousel .slides-wrapper .slides.photo .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .myCarousel .slides-wrapper .slides.title .link {
        font-size: 14px;
        margin-left: 25px;
    }

    .myCarousel .slides-wrapper .slides.content .subtitle {
        font-size: 13px;
    }

    .myCarousel #arrows span {
        font-size: 13px;
        padding: 0 3px;
    }

    .myCarousel #arrows .prev,
    .myCarousel #arrows .next {
        font-size: 50px;
    }
}

@media screen and (max-width: 1067px) {
    .gnb li {
        display: inline-block;
        margin: 0;
    }
    .myCarousel .slides-wrapper .slides.content .title {
        font-size: 40px;
    }

    .myCarousel .slides-wrapper .slides.content .subtitle {
        font-size: 12px;
    }

    .myCarousel .slides-wrapper .slides.photo {
        height: 50%;
        top: 10%;
        left: 25%;
        width: 50%;
    }

    .myCarousel .slides-wrapper .slides.title {
        width: 100%;
        height: 30%;
    }

    .myCarousel .slides-wrapper .slides.title .link {
        font-size: 15px;
        position: absolute;
        top: -100px;
    }

    .myCarousel .slides-wrapper .slides.content {
        height: 30%;
        width: 60%;
        top: 65%;
        left: 20%;
    }

    /* .myCarousel .slides-wrapper .slides.content .bodytext {
        transform: translateY(-20%);
    } */

    .myCarousel #arrows {
        top: 60%;
        right: 10%;
    }

    .myCarousel #arrows .prev,
    .myCarousel #arrows .next {
        font-size: 50px;
    }
    .bg {
        background-color: #ffffff;
    }
}

@media screen and (max-width: 830px) {
    .gnb li {
        display: inline-block;
        margin: 0;
    }
    
    .myCarousel .slides-wrapper .slides.photo {
        height: 50%;
        top: 10%;
        left: 10%;
        width: 80%;
    }
    .myCarousel .slides-wrapper .slides.content .title {
        font-size: 30px;
    }

    .myCarousel .slides-wrapper .slides.content .subtitle {
        font-size: 11px;
    }

    .myCarousel #arrows span {
        font-size: 13px;
    }

    .myCarousel #arrows .prev,
    .myCarousel #arrows .next {
        font-size: 20px;
    }

    .myCarousel #arrows .prev {
        margin-right: 30px;
    }

    /* .myCarousel .slides-wrapper .slides.photo {
        left: 0;
    } */

    .myCarousel .slides-wrapper .slides.photo .image {
        text-align: center;
    }

    .myCarousel .slides-wrapper .slides.title .link {
        position: absolute;
        top: -100px;
    }

    .myCarousel #arrows {
        top: 60%;
    }
}
@media screen and (max-width: 732px) {
    .gnb {
        width: 65%;
        margin: 0 auto;
    }
    .cate {
        width: 150px;
        height: 150px;
    }
    .cate img {
        width: 100px;
    }
    .bg {
        visibility: hidden;
    }
    .hidden-button {
        visibility: hidden;
    } 
    .mainslide {
        width: 100%!important;
    }
    .myCarousel .slides-wrapper .slides.photo {
        width: 100%;
        left: 5%;
    }
    .myCarousel .slides-wrapper .slides.content .bodytext .comment {
        padding-top: 10px;
        font-size: 13px;
    }
    .nav-border {
        top: -200px;
    }
}

/* split.css */
.split {
    position: relative;
}
.split .split {
    height: 100%;
}
.split .split .inner-wrapper {
    height: 100%;
}
.split.split-no-anim {
    transition: all 0s !important;
}
.split.split-no-anim * {
    transition: all 0s !important;
}
.split .slides {
    overflow: hidden;
    height: 100%;
}
.split .slides .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.split .slides .slide .slide-section {
    position: relative;
}
.split .navigation-wrapper {
    display: flex;
    justify-content: space-between;
}
.split .navigation-wrapper .navigation-arrow.prevent {
    pointer-events: none;
}
.split .navigation-wrapper .navigation-arrow.disable {
    pointer-events: none;
    opacity: 0.25;
}
.split .navigation-wrapper .navigation-arrow.prev {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #000;
}
.split .navigation-wrapper .navigation-arrow.next {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #000;
}
.split .dots-wrapper .dot {
    display: inline-block;
}
.split .dots-wrapper .dot.thumb {
    pointer-events: none;
}
.split .dots-wrapper .dot.thumb.visible {
    display: inline-block;
    pointer-events: initial;
}
.split .dots-wrapper.default .dot {
    height: 10px;
    width: 10px;
    border: 1px solid #000;
}
.split .dots-wrapper.default .dot.thumb {
    opacity: 0.25;
}
.split .dots-wrapper.default .dot.thumb.visible {
    opacity: 1;
}
.split.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    transition: background-color 0.15s;
}
.split.fullscreen > .inner-wrapper {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.theme-left-to-right > .slide {
    top: 0;
    left: -100%;
    transition: transform 0.45s;
}
.theme-left-to-right > .slide.init {
    transform: translateX(100%);
}
.theme-left-to-right > .slide.previous {
    transform: translateX(200%);
}
.theme-left-to-right > .slide.next {
    transform: translateX(0);
}

.theme-right-to-left > .slide {
    top: 0;
    left: 100%;
    transition: transform 0.45s;
}
.theme-right-to-left > .slide.init {
    transform: translateX(-100%);
}
.theme-right-to-left > .slide.previous {
    transform: translateX(-200%);
}
.theme-right-to-left > .slide.next {
    transform: translateX(0);
}

.theme-bottom-to-top > .slide {
    top: 100%;
    left: 0;
    transition: transform 0.45s;
}
.theme-bottom-to-top > .slide.init {
    transform: translateY(-100%);
}
.theme-bottom-to-top > .slide.previous {
    transform: translateY(-200%);
}
.theme-bottom-to-top > .slide.next {
    transform: translateY(0);
}

.theme-top-to-bottom > .slide {
    top: -100%;
    left: 0;
    transition: transform 0.45s;
}
.theme-top-to-bottom > .slide.init {
    transform: translateY(100%);
}
.theme-top-to-bottom > .slide.previous {
    transform: translateY(200%);
}
.theme-top-to-bottom > .slide.next {
    transform: translateY(100%);
}

.theme-fly-away-in > .slide {
    top: 0;
    left: 100%;
}
.theme-fly-away-in > .slide .slide-section {
    transition: transform 0.45s;
}
.theme-fly-away-in > .slide.init {
    transform: translateX(-100%);
}
.theme-fly-away-in > .slide.previous {
    transform: translateX(-200%);
}
.theme-fly-away-in > .slide.next {
    transform: translateX(0);
}

.theme-fade-in-out .slide {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity 0.6s;
}
.theme-fade-in-out .slide.init {
    opacity: 1;
}
.theme-fade-in-out .slide.previous {
    opacity: 0;
}
.theme-fade-in-out .slide.next {
    opacity: 0;
}

.theme-bottom-to-top-zoom-in > .slide {
    top: 100%;
    left: 0;
    transition: transform 0.8s;
    overflow: hidden;
}
.theme-bottom-to-top-zoom-in > .slide .image {
    transform: scale(1.05);
    transition: transform 0.8s;
}
.theme-bottom-to-top-zoom-in > .slide.init {
    transform: translateY(-100%);
}
.theme-bottom-to-top-zoom-in > .slide.init .image {
    transform: scale(1);
    transition-delay: 0.5s;
}
.theme-bottom-to-top-zoom-in > .slide.previous {
    transform: translateY(-200%);
}
.theme-bottom-to-top-zoom-in > .slide.previous .image {
    transform: scale(1.05);
    transition-delay: 0.8s;
}
.theme-bottom-to-top-zoom-in > .slide.next {
    transform: translateY(0);
}
.theme-bottom-to-top-zoom-in > .slide.next .image {
    transform: scale(1.05);
}

.theme-bottom-to-top-fade-out > .slide {
    top: 100%;
    left: 0;
    transition: transform 1s;
}
.theme-bottom-to-top-fade-out > .slide .bodytext {
    opacity: 0;
    transition: opacity 0.3s;
}
.theme-bottom-to-top-fade-out > .slide.init {
    transform: translateY(-100%);
}
.theme-bottom-to-top-fade-out > .slide.init .bodytext {
    opacity: 1;
}
.theme-bottom-to-top-fade-out > .slide.previous {
    transform: translateY(-200%);
}
.theme-bottom-to-top-fade-out > .slide.previous .bodytext {
    opacity: 0;
}
.theme-bottom-to-top-fade-out > .slide.next {
    transform: translateY(0);
}
.theme-bottom-to-top-fade-out > .slide.next .bodytext {
    opacity: 0;
}

.theme-fly-in-top {
    position: absolute;
    width: 100%;
    height: 100%;
}
.theme-fly-in-top > .slide {
    transform: scale(0.25);
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s;
}
.theme-fly-in-top > .slide.init {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}
.theme-fly-in-top > .slide.previous {
    transform: scale(1.75);
    opacity: 0;
    pointer-events: none;
}
.theme-fly-in-top > .slide.next {
    transform: scale(1.75);
    opacity: 0;
    pointer-events: none;
}
.theme-fly-in-top.top .slide {
    top: 0;
    left: 0;
}
.theme-fly-in-top.top .slide:nth-child(2n + 1) {
    margin-top: 10%;
    width: 100%;
    height: 50%;
    z-index: 2;
}
.theme-fly-in-top.top .slide.init:nth-child(2n + 1) {
    margin-top: 0;
}
.theme-fly-in-top.top .slide.previous:nth-child(2n + 1),
.theme-fly-in-top.top .slide.next:nth-child(2n + 1) {
    margin-top: -35%;
}
.theme-fly-in-top.left .slide {
    top: 0;
    left: 0;
}
.theme-fly-in-top.left .slide:nth-child(2n) {
    margin-left: 25%;
    width: 50%;
    height: 100%;
    z-index: 2;
}
.theme-fly-in-top.left .slide.init:nth-child(2n) {
    margin-left: 0;
}
.theme-fly-in-top.left .slide.previous:nth-child(2n),
.theme-fly-in-top.left .slide.next:nth-child(2n) {
    margin-left: -35%;
}

.theme-fly-in-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
}
.theme-fly-in-bottom > .slide {
    transform: scale(0.25);
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s;
}
.theme-fly-in-bottom > .slide.init {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}
.theme-fly-in-bottom > .slide.previous {
    transform: scale(1.75);
    opacity: 0;
    pointer-events: none;
}
.theme-fly-in-bottom > .slide.next {
    transform: scale(1.75);
    opacity: 0;
    pointer-events: none;
}
.theme-fly-in-bottom.bottom .slide {
    bottom: 0;
    right: 0;
}
.theme-fly-in-bottom.bottom .slide:nth-child(2n + 1) {
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
}
.theme-fly-in-bottom.bottom .slide.init:nth-child(2n + 1) {
    margin-bottom: 0;
}
.theme-fly-in-bottom.bottom .slide.previous:nth-child(2n + 1),
.theme-fly-in-bottom.bottom .slide.next:nth-child(2n + 1) {
    margin-bottom: -35%;
}
.theme-fly-in-bottom.right .slide {
    bottom: 0;
    right: 0;
}
.theme-fly-in-bottom.right .slide:nth-child(2n) {
    width: 50%;
    height: 100%;
    margin-right: 25%;
}
.theme-fly-in-bottom.right .slide.init:nth-child(2n) {
    margin-right: 0;
}
.theme-fly-in-bottom.right .slide.previous:nth-child(2n),
.theme-fly-in-bottom.right .slide.next:nth-child(2n) {
    margin-right: -35%;
}

.theme-right-to-left > .slide {
    top: 0;
    left: 100%;
    transition: transform 1s;
}
.theme-right-to-left > .slide.init {
    transform: translateX(-100%);
}
.theme-right-to-left > .slide.previous {
    transform: translateX(-200%);
}
.theme-right-to-left > .slide.next {
    transform: translateX(0);
}

.theme-bottom-to-top-slow > .slide {
    top: 100%;
    left: 0;
    transition: transform 0.6s;
}
.theme-bottom-to-top-slow > .slide.init {
    transform: translateY(-100%);
}
.theme-bottom-to-top-slow > .slide.previous {
    transform: translateY(-200%);
}
.theme-bottom-to-top-slow > .slide.next {
    transform: translateY(0);
}

.theme-content-horizontal-vertical > .slide {
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
}
.theme-content-horizontal-vertical > .slide.init {
    z-index: 1;
    visibility: visible;
}
.theme-content-horizontal-vertical > .slide.previous {
    z-index: -1;
    visibility: hidden;
}
.theme-content-horizontal-vertical > .slide.next {
    z-index: -1;
    visibility: hidden;
}

.theme-bottom-to-top-with-fade > .slide {
    top: 100%;
    left: 0;
    opacity: 0;
    transition: transform 0.9s, opacity 0.6s;
}
.theme-bottom-to-top-with-fade > .slide .bodytext img {
    top: -100px;
    transition: top 0.45s;
}
.theme-bottom-to-top-with-fade > .slide .bodytext .desc {
    top: 100px;
    opacity: 0;
    transition: top 0.45s, opacity 0.15s;
}
.theme-bottom-to-top-with-fade > .slide.init {
    transform: translateY(-100%);
    opacity: 1;
}
.theme-bottom-to-top-with-fade > .slide.init .bodytext img {
    top: 0;
}
.theme-bottom-to-top-with-fade > .slide.init .bodytext .desc {
    top: 0;
    opacity: 1;
    transition: top 0.45s, opacity 0.15s;
}
.theme-bottom-to-top-with-fade > .slide.previous {
    transform: translateY(-200%);
    opacity: 0;
}
.theme-bottom-to-top-with-fade > .slide.previous .bodytext img {
    top: -100px;
    transition: top 0.45s;
}
.theme-bottom-to-top-with-fade > .slide.previous .bodytext .desc {
    top: 100px;
    opacity: 1;
    transition: top 0.45s, opacity 0.15s;
}
.theme-bottom-to-top-with-fade > .slide.next {
    transform: translateY(0);
    opacity: 0;
}
.theme-bottom-to-top-with-fade > .slide.next .bodytext img {
    top: -100px;
    transition: top 0.45s;
}
.theme-bottom-to-top-with-fade > .slide.next .bodytext .desc {
    top: 100px;
    opacity: 1;
    transition: top 0.45s, opacity 0.15s;
}

.theme-fade-in-out-slow > .slide {
    top: 100%;
    opacity: 0;
    transition: opacity 0.6s;
}
.theme-fade-in-out-slow > .slide.init {
    transform: translateY(-100%);
    opacity: 1;
}
.theme-fade-in-out-slow > .slide.previous {
    transform: translateY(100%);
    opacity: 0;
}
.theme-fade-in-out-slow > .slide.next {
    transform: translateY(100%);
    opacity: 0;
}

.bannerevent {
    width: 100%;
    height: 200px;
    background-image: url("http://thesilla.kr/data/file/gallery/3732218746_iKW2bktV_32eb3ef54620bbaa23b9322ad09956d61cda7699.jpg");
    background-attachment: fixed;
    filter: grayscale(100%);
}
