main {
    height: 2600px;
}
.bg {
    height: 330px;
    background-color: #f6f6f0;
}

.gnb img {
    width: 100px;
}
.nav-form i {
    font-size: 18px;
}
.nav-border {
    position: relative;
    top: -200px;
}
.nav-border li:hover img {
    opacity: 0.5;
}

.gnb {
    text-align: center;
}
.gnb li {
    display: inline-block;
    margin: 0 100px 0 0;
}
.gnb li:last-child {
    margin-right: 0;
}

.recent {
    margin: 100px;
}
