.reviewList {
    font-weight: 900;
    font-size: 1.1em;
}
.reviewList::before {
    content: "\00B7";
    padding-right: 5px;
}
h2 {
    padding: 30px 0;
}
.myreview_wrap {
    margin-left: 150px;
}
form {
    display: inline-block;
}
