*{margin: 0;padding: 0;box-sizing: border-box}
body{background-color: #f7f7f7;}
ul>li{list-style: none}
a{text-decoration: none;}
.clearfix::after{content: "";display: block;clear: both;}
#joinForm{width: 460px;margin: 0 auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}
.footBtwrap{margin-top: 15px;}
.footBtwrap>li{float: left;width: 50%;height: 60px;}
.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
.fpmgBt1{background-color: #fff;color:#888}
.fpmgBt2{background-color: lightsalmon;color: #fff}

.hidden-button {
    visibility: hidden;
} 
.p{
    margin-bottom: 0px;
}
.paymentInfo{
    width: 100%; 
    height: 22vh;
    padding: 1% 30% 1% 30%;
    /* margin: 0 30% 0 30%; */
    text-align: left; 
    font-size: 18px;
    /* margin: auto; */
    /* border-bottom: 1px groove gray; */
}
.reserveInfo{
    width: 100%; 
    height: 80%;
    padding: 1% 30% 0 30%;
    /* margin: auto; */
}
.roomName{
    display: inline-block;
}
.hanokName{
    font-size: 1.5em;
    font-weight: bolder;
}
.payContainer{
    display: flex; 
    height: 8vh; 
    margin: 0;
    padding-top: 1.5vh;
    justify-content:space-between
}
.items{
    width: 8vw; 
    height: 8vh;
}
.font_size{
    font-size: 1.2em;
    font-weight: bolder;
}
.reservetitle{
    font-size: 1.5rem; 
    font-weight: bold;
}
.reservetitle>input, label{
    font-size: 18px;
    width: 100%;
}
.pay_sum {
    font-size: 18px; 
    font-weight: normal;
}
.pay_type {
    font-size: 16px; 
    font-weight: normal;
    height: 3.5vh;
    border-radius: 0.5vw 0.5vw / 0.5vw 0.5vw;
}
.pay_padding {
    padding-top: 3%;
}
span{
    padding-right: 14vw;
}
.span_padding_1{
    padding-left: 17.1vw; 
    padding-right: 0;
}
.span_padding_2{
    padding-left: 16vw; 
    padding-right: 0; 
    color: red;
}
.btn_group{
    height: 5vh;
    /* padding: 0 10% 0 10% auto; */
    margin: 0 auto;
    text-align: center;
}
.btn1 {
    border: none;
    background-color: #000;
    color: #fff;
    width: 8vw;
    padding: 0.5vh 0 0.5vh 0;
}
.btn1:hover{
    border:1px solid #000;
    background-color:#fff;
    color:#000;
    transition: all 0.4s;
}
.btn2 {
    border:1px solid #000;
    background-color: #fff;
    color: #000000;
    width: 8vw;
    padding: 0.5vh 0 0.5vh 0;
}
.btn2:hover{
    border:1px solid #fff;
    background-color:#000;
    color:#fff;
    transition: all 0.4s;
}
.msg {
    height:20px;
    font-size: 18px;
    color:red;
}
.border_line {
    border-top: 2px groove #dcdcdc;
    padding-top: 1%;
}
#reserve_name{
    color: rgb(134, 134, 134);
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    font-size: 0.7em;

}
#reserve_num{
    color: rgb(134, 134, 134);
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    font-size: 0.7em;

}
#reserve_name:focus{
    outline: none;
    color: black;
    border: 1px solid rgba(255, 0, 0, 0.719);
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    font-size: 0.7em;
}
#reserve_num:focus{
    outline: none;
    color: black;
    border: 1px solid rgba(255, 0, 0, 0.719);
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    font-size: 0.7em;

}
.pay_padding_select{
    padding-left: 15vw;
    padding-right: 0;
}
#reserve_name_inner {
    font-size: 14px;
    color: red;
}
#reserve_num_inner {
    font-size: 14px;
    color: red;
}
