h2{
    padding:30px 0;
}
.certBox{
    margin:40px auto 0;
    width:500px;
    height:400px;
    border:1px solid #000;
    text-align: center;

}


.updateBtn{
    /* position:absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%); */
    grid-column: 1/3;
    width:200px;
    height:40px;
    margin:10px auto;
    background-color: #000;
    color:#fff;
    border:none;

}
.updateBtn:hover{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
    transition: all 0.3s;
}

form{
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
}

.pwInput{

    width:300px;
    height:30px;
    margin:30px auto;
    border:none;
    border-bottom: 1px solid #e2e2e2;
    outline:none;
}

.btnGroup > button{
    width:200px;
    margin:40px auto 0;
    height:40px;
}

.blackBtn{
    background-color: #000;
    color:#fff;
    border:1px solid #000;
}
.blackBtn:hover{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
    transition: all 0.3s;
    
}

.whiteBtn{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
}
.whiteBtn:hover{
    background-color: #000;
    color:#fff;
    border:1px solid #000;
    transition: all 0.3s;
}