h2{
    margin-bottom: 20px;
}

.pwBox{
    margin:50px auto;
    width:500px;
    border:1px solid #000;
    text-align: center;
    padding: 50px;
}

.msgBox{
    height: 50px;
}

.msg{
    font-size: 10px;
    color: red;
}

.pwInput{

    width:100%;
    margin:0 auto;
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    outline:none;
}

.btnGroup > button{
    width:200px;
    margin:40px auto 0;
    height:40px;
}

.blackBtn{
    background-color: #000;
    color:#fff;
    border:1px solid #000;
}
.blackBtn:hover{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
    transition: all 0.3s;
    
}

@media all and (max-width:767px) {
    .pwBox {
        width: 100%;
        height: 53vh;
        border: none;
        padding-top: 3vh;
        margin: 30px auto;
    }
    form {
        grid-template-rows: 0.3fr 1fr;
    }
    .btnGroup > button {
        height: 40px;
    }
}
