/**************************************
 * 프로젝트명 : commanine
 * 디렉토리   : public/css
 * 파일명     : regist.css
 * 이력       : 0616 KMH new
 * *********************************** */ 

*{
 box-sizing: content-box ; 
}

.box{
    position:relative;
    width:100%;
    height:800px;
    text-align: center;
    
}
h2{
    padding-top:30px;
}
.registBox{
    position:absolute;
    width:400px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #000;
}

.title{
    margin:0;
    /* padding:20px 0 ; */
    height: 100px;
}
.msg{
    font-size: 12px;
}

form>input,#email{
    padding:5px 10px;
    width:100%;
    margin-right:0;
}
form{
    padding:0;
}
#formBox>.emailBox,#formBox>select,#formBox>select>option{
    width:100%;
}
#questAnswer{
    margin-top:20px;
}
#pwChkAlert{
    height:20px;
}
.emailBox{
    position:relative;
}

#emailChkBtn{
    position:absolute;
    z-index: 9999;
    top:50%;
    transform: translateY(-50%);
    right:5px;
    width:70px;
    font-size: 12px;
    height: 30px;
    padding: 5px 0;
    
}

.blackBtn{
    border:none;
    background-color: #000;
    color:#fff;
}

.blackBtn:hover{
    border:1px solid #000;
    background-color:#fff;
    color:#000;
    transition: all 0.4s;
}
.whiteBtn{
    border:1px solid #000;
    background-color: #fff;
    color:#000;
}
.whiteBtn:hover{
    border:1px solid #fff;
    background-color:#000;
    color:#fff;
    transition: all 0.4s;
}

.errmsg{
    height:20px;
    font-size: 12px;
    color:#ff0000;
}

.btnGroup{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.btnGroup > button{
    padding:5px;
}

.btnGroup > .blackBtn{
    margin-right: 5px;
}
.btnGroup > .whiteBtn{
    margin-left:5px;
}
form>input:focus,form>select:focus,#email:focus{
    outline:none;
    /* border:none; */
}

form>select{
    padding:10px 0;
}