/**************************************
 * 프로젝트명 : commanine
 * 디렉토리   : public/css
 * 파일명     : regist.css
 * 이력       : 0616 KMH new
 * *********************************** */ 

*{
 box-sizing: content-box ; 
}
.hidden-button {
    visibility: hidden;
} 

.text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.bgWhite{
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.box{
    position:relative;
    /* width:100%; */
    /* height:100%; */
    text-align: center;
    border-left:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
    
}
.container.box{
    margin: 15px auto 0;
    height:100%;
}


h2{
    padding-top:30px;
}
.registBox{
    position:relative;
    top:10%;
    /* width:400px; */
    /* height: 700px; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width:500px;
    margin:0 auto;
    border:1px solid #000;
}

.title{
    margin:0;
    /* padding:20px 0 ; */
    height: 100px;
}
.msg{
    font-size: 14px;
}

form>input
,#email
,#emailChkNum{
    padding:5px 10px;
    width:90%;
    border: 1px solid #000;
    /* margin-right:0; */
}
#emailChkNum:disabled {
    background-color: #f3f3f3;
}
#emailChkNumBtn:disabled {
    background-color: #696969;
    pointer-events: none;
}

form{
    padding:0;
}
/* #formBox>.emailBox,#formBox>select,#formBox>select>option{
    width:90%;
} */
#questAnswer{
    margin-top:20px;
}
#pwChkAlert{
    height:20px;
}
.emailBox
,.emailChkNumBox{
    position:relative;
}

#emailChkBtn
,#emailChkNumBtn{
    position:absolute;
    z-index: 5;
    top:50%;
    transform: translateY(-50%);
    right:5%;
    /* width:70px; */
    font-size: 14px;
    height: 36px;
    width: 95px;
    padding: 5px 0;
}

#timet {
    position:absolute;
    z-index: 5;
    top:50%;
    transform: translateY(-50%);
    right:27%;
    font-size: 14px;
    /* display: none; */
}

.blackBtn{
    border:1px solid #000;
    /* border:none; */
    background-color: #000;
    color:#fff;
}

.blackBtn:hover{
    border:1px solid #000;
    background-color:#fff;
    color:#000;
    transition: all 0.4s;
}
.whiteBtn{
    border:1px solid #000;
    background-color: #fff;
    color:#000;
}
.whiteBtn:hover{
    border:1px solid #000;
    background-color:#000;
    color:#fff;
    transition: all 0.4s;
}

.errmsg{
    height:20px;
    font-size: 14px;
    color:#ff0000;
}

.btnGroup{
    /* display:grid;
    grid-template-columns: repeat(2,1fr); */
display:flex;
flex-direction:row;
width:90%;
margin:0 auto 20px;

}
.btnGroup > button{
    padding:5px;
}

.btnGroup > .blackBtn{
    margin-right: 5px;
}
.btnGroup > .whiteBtn{
    margin-left:5px;
}
form>input:focus,form>select:focus,#email:focus{
    outline:none;
    /* border:none; */
}

form>select{
    width:90%;
    padding:10px 5px;
    border: 1px solid #000;
}


@media all and (min-width:768px) and (max-width:1023px) { 
    .container.box{
        margin: 15px auto 0;
        height:100%;
        border:none;
    }
    .registBox{
        position:relative;
        top:7%;
        /* width:400px; */
        /* height: 700px; */
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        width:500px;
        margin:0 auto;
        border:1px solid #000;
    }
    .countBox.active{
        right:15%;
    }
}



@media all and (max-width:767px) { 
    .container.box{
        width:100%;
        margin:15px auto 0;
        /* height:100%; */
    }
    .loginBox{
        width:100%;
        border:none;
        /* border-top:1px solid #000;
        border-bottom:1px solid #000; */
    }
    .box{
        border:none;
    }
    .registBox{
        position:relative;
        top:5%;
        /* width:400px; */
        /* height: 700px; */
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        width:95%;
        /* height:100%; */
        margin:0 auto;
        border:1px solid #000;
    }
    /* form>input, #email{
        border: 1px solid #000;

    } */
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .container.box{
        height:200%;
    }
  }

  @media only screen and (min-width:768px) and (max-width:1023px) and (orientation: landscape) {
    .container.box{
        height:180%;
    }
  }

  /* @media only screen and (orientation: landscape){
    .container.box{
        height:120%;
    }
  } */