/**************************************
 * 프로젝트명 : commanine
 * 디렉토리   : public/css
 * 파일명     : research.css
 * 이력       : 0621 KMH new
 * *********************************** */ 
 @media all and (min-width:1024px) { /*스타일입력*/}
 @media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}
 @media all and (max-width:830px) { /*스타일입력*/}
.containerBox{
    width:95%;
    margin:0 auto;
}
.hidden-button {
    visibility: hidden;
} 
/* start input-range */

    input[type='range'] {
      width: 210px;
      height: 30px;
      overflow: hidden;
      cursor: pointer;
        outline: none;
    }
    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
        background: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
      width: 200px;
      height: 1px;
      background: #b3b3b3;
    }
    
    input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
      background: none;
    }
    
    input[type='range']::-webkit-slider-thumb {
      position: relative;
      height: 15px;
      width: 15px;
      margin-top: -7px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 25px;
      z-index: 1;
    }
    
    
    input[type='range']:nth-child(1)::-webkit-slider-thumb{
      z-index: 2;
    }
    
    .rangeslider{
        position: relative;
        height: 60px;
        width: 210px;
        display: inline-block;
        margin-top: -5px;
        margin-left: 30px;

    }
    .rangeslider input{
        position: absolute;
    }
    
    .rangeslider span{
        position: absolute;
        margin-top: 30px;
        left: 0;
    }
    
    .rangeslider .right{
       position: relative;
       float: right;
       /* right:0;
       bottom:0; */
       margin-right: -5px;
    }

    
/* end input-range */

.star{
    width:16px;
    height:16px;
}    

.searchBox{
    padding:20px;
    border-bottom:2px solid #000;
    margin:10px auto;
    /* height: 200px; */
    /* border-radius:20px; */
}    

.searchDate{
    position:relative;
    z-index:5;
}
select{
    border:none;
    border-bottom:1px solid #b3b3b3;
}
/* option{
    border:none;
    background-color: #fff;
} */

select:focus{
    outline:none;
}


form>.searchFirstBox>div>input
,form>.searchSecond>div>input{
    text-align: center;
    /* border-radius: 10px; */
    /* margin-top:5px; */
    border:none;
    border-bottom:1px solid #b3b3b3;
}
form>div>input:focus{
    /* border-bottom:1px solid #000; */
    font-size:17px;
    transition: all 0.5s;
}
input[type="range"]{
    border:none;
}

/* 검색창*/
.formBox{
    display:flex;
    flex-direction: column;
    /* height:100%; */
}
.searchFirstBox,.searchSecondBox{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.searchFristBox>input,.searchFristBox>div{
    width:350px;
}
.searchBtn{
    width:300px;
    padding: 5px 0 ;
    margin:0 auto;
    z-index:4;
}
.searchWidth{
    width:350px;
    margin-top:10px;
}

.countPeople>label{
    text-align: center;
    padding-right:20px;
}




/* 인원Box start */

.countBox {
    position: absolute;
    top: 70%; 
    right:0;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    width: 262.5px;
    height: 150px;
    opacity: 0;
    z-index:3;
    grid-template-rows: repeat(3,1fr);
}

.countBox.active{
    position: absolute;
    top: 80%; 
    right:0;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    width: 262.5px;
    height: 150px;
    display:grid;
    opacity: 1;
    z-index:5;
    grid-template-rows: repeat(3,1fr);
    transition:all 0.3s;
}
.countWrap{
    position:relative;
}

.countBox>div{
    padding:10px;
}
.countBox>div>input{
    position:absolute;
    right:10px;
    width:100px;
    text-align: center;
}

.countBox>button{
    width:150px;
    margin:0 auto;
    height:30px;
}
.adultsBox,.kidsBox{
    display:grid;
    grid-template-columns: repeat(2,auto);
}
.adultsBox>label,.kidsBox>label{
    text-align: center;
}
.adultsBox>label{
    padding-left:15px;
}

.adultsBox>div,.kidsBox>div{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.minBtn,.plusBtn{
    height:30px;
    width:20px;
    background-color: #fff;
    border:none;
}
.adultsVal,.kidsVal{
    text-align: center;
    border:none;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 인원Box end */
/* 검색창 end */


div>input{
    height:30px;
}
.searchSecondBox>div{
    padding-top:20px;
}
/* @media all and (max-width:830px) { 
    .searchSecondBox>div{
        padding-top:0;
    }
} */
.countWrap>label{
    padding-right:15px;
}
.searchSecondBox>select{
    margin-top:20px;
}
.dayBox>label,.selectBox>span,.countPeople>label , .text-box>p{
    /* text-align: right; */
    /* width:80px; */
    padding-right:20px;
}
/* .dayBox{
    margin:0 10px;
} */
.searchFirstBox>div>input, .selectBox>select,.countPeople>.countInput ,.rangeslider{
    width:60%;
}


/* 검색 출력 박스 */
.searchUl{
    padding: 20px 40px;
    margin-top:30px;
    min-height:300px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
    place-items: center; 
}    

.text-box {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    justify-content: flex-start;
    height: 100%; /* 필요한 높이 설정 */
    padding-top:20px;
}
  
.centered-text {
    text-align: center;
}




.dayBox>.ui-datepicker-trigger{
    background-color: #000;
    color:#fff;
    border: none;
    /* z-index: 300; */
}

.dayBox>.ui-datepicker-trigger:hover,.countChkBtn:hover{
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
    transition:all 0.3s;
}


.searchBtn,.countChkBtn{
    background-color: #fff;
    border:1px solid #000;
    color: #000;
}

.searchBtn:hover,.countChkBtn:hover{
    background-color: #000;
    border:1px solid #fff;
    color: #fff;
    transition:all 0.3s;
}

.searchList{
    border:2px solid #b3b3b3;
    width:95%;
    height:220px;
    /* border-radius: 10px; */
    padding: 20px 50px;
    margin-bottom: 10px;
}
.searchList>a{
    color:#000;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.explainHanok{
    display:grid;
    grid-template-rows: repeat(4,1fr);
    justify-content: right;
}
.nameHanok{
    font-size: 20px;
    text-align: right;
    font-weight: 900;
}
.reviewHanok{
    font-size:16px;
    text-align: right;

}
.priceHanok{
    font-size:20px;
    grid-row :4 / span 1;
    text-align: right;
}
.noSearch{
    text-align: center;
    grid-column: 1 / span 2;
    align-self: flex-start;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.listA:hover{
    color:#000;
}


.small.text-muted{
    display:none;
}


div>input{
    padding-left:10px;
}
input:focus{
    outline:none;
}
a:hover{
    text-decoration: none !important ;
}


input:focus label{
    font-size: 0.9em;
}








@media all and (max-width:850px) { 
    .searchWidth{
        width:100%;
    }

    .searchSecondBox>div{
        padding-top:0;
    }

    .searchFirstBox,.searchSecondBox{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        /* position:relative; */
    }
    .searchWidth{
        position:relative;
    }
    .searchWidth>input,.searchWidth>select,.searchWidth>.countPeople>input,.rangeslider{
        position:absolute;
        top:0;
        right:20px;
    }
    div>input{
        height:100%;
    }
    .text-box{
        margin-top:10px;
    }
    .searchBtn{
        margin-top:20px;
    }
    .rangeslider{
        z-index:4;
    }

    
/* start input-range */

    input[type='range'] {
        width: 100%;
    }
  

}