/**************************************
 * 프로젝트명 : commanine
 * 디렉토리   : public/css
 * 파일명     : research.css
 * 이력       : 0621 KMH new
 * *********************************** */ 

/* start input-range */
body{
    font-family: sans-serif;
    font-size:14px;
    }
    input[type='range'] {
      width: 210px;
      height: 30px;
      overflow: hidden;
      cursor: pointer;
        outline: none;
    }
    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
        background: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
      width: 200px;
      height: 1px;
      background: #000;
    }
    
    input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
      background: none;
    }
    
    input[type='range']::-webkit-slider-thumb {
      position: relative;
      height: 15px;
      width: 15px;
      margin-top: -7px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 25px;
      z-index: 1;
    }
    
    
    input[type='range']:nth-child(1)::-webkit-slider-thumb{
      z-index: 2;
    }
    
    .rangeslider{
        position: relative;
        height: 60px;
        width: 210px;
        display: inline-block;
        margin-top: -5px;
        margin-left: 20px;
    }
    .rangeslider input{
        position: absolute;
    }
    
    .rangeslider span{
        position: absolute;
        margin-top: 30px;
        left: 0;
    }
    
    .rangeslider .right{
       position: relative;
       float: right;
       margin-right: -5px;
    }
/* end input-range */

.star{
    width:16px;
    height:16px;
}    

.searchBox{
    padding:20px;
    border:1px solid #000;
    margin:10px auto;
    height: 200px;
    border-radius:20px;
}    


/* 인원Box start */
.countWrap{
    position:relative;
    height:50px;
    width:290px;
}
.countWrap>label{
    padding-left:20px;
    /* width:55px; */
}
.countWrap>input{
    position:absolute;
    right:0;
    /* padding-left: 20px; */
}
.countBox {
    position: absolute;
    top: 100%; 
    right:0;
    border: 1px solid #000;
    background-color: #fff;
    width: 180px;
    height: 150px;
    display:none;
    grid-template-rows: repeat(3,1fr);
}

.countBox.active{
    position: absolute;
    top: 100%; 
    right:0;
    border: 1px solid #000;
    background-color: #fff;
    width: 180px;
    height: 150px;
    display:grid;
    grid-template-rows: repeat(3,1fr);
}

.countBox>div{
    padding:10px;
}
.countBox>div>input{
    position:absolute;
    /* right:20px; */
    right:10px;
    width:100px;
    text-align: center;
}

.countBox>button{
    width:150px;
    margin:0 auto;
    height:30px;
}
.adultsBox,.kidsBox{
    display:grid;
    grid-template-columns: repeat(2,auto);
}
.adultsBox>label,.kidsBox>label{
    width:55px;
}
/* .adultsBox>div,.kidsBox>div{
    position:relative;
    width:100%;
} */
.adultsBox>div,.kidsBox>div{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.minBtn,.plusBtn{
    height:30px;
    width:20px;
    background-color: #fff;
    border:none;
}
.adultsVal,.kidsVal{
    text-align: center;
    border:none;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 인원Box end */





.formBox{
    height: 100%;
    /* padding:20px; */
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-items: center; */
}
.selectBox, .selectBox > option{
    width:200px;
    height:30px;
}
.searchFirstBox{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.dayBox{
    display:grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr 1fr ;
}
.searchSecondBox{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    /* height:40px; */
}
.searchBtn{
    justify-self:center;
    width:180px;
    height:40px;
}
.priceBox{
    display:grid;
    grid-template-columns: 2fr 10fr;
}

.priceGrid{
    display:grid;
    grid-template-rows: 2fr 1fr;
}
div>input{
    height:30px;
}
.searchSecondBox>div{
    padding-top:20px;
}
.countWrap>label{
    padding-right:15px;
}
.searchSecondBox>select{
    margin-top:20px;
}
.dayBox>label{
    text-align: right;
    padding-right:20px;
}



.searchUl{
    padding: 20px 40px;
    margin-top:30px;
    height: 100%;
}    

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 필요한 높이 설정 */
    padding-top:20px;
}
  
.centered-text {
    text-align: center;
}




.dayBox>.ui-datepicker-trigger{
    background-color: #000;
    color:#fff;
    border: none;
}

.dayBox>.ui-datepicker-trigger:hover,.countChkBtn:hover{
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
    transition:all 0.3s;
}


.searchBtn,.countChkBtn{
    background-color: #fff;
    border:1px solid #000;
    color: #000;
}

.searchBtn:hover,.countChkBtn:hover{
    background-color: #000;
    border:1px solid #fff;
    color: #fff;
    transition:all 0.3s;
}

.searchList{
    border:1px solid #000;
    width:100%;
    height:15vh;
    border-radius: 20px;
}
.searchList>a{
    color:#000;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.explainHanok{
    display:grid;
    grid-template-rows: repeat(4,1fr);
    justify-content: right;
}
.nameHanok{
    font-size: 24px;
}
.reviewHanok{
    font-size:16px;
}
.priceHanok{
    font-size:24px;
}
.noSearch{
    text-align: center;
}