/**************************************
 * 프로젝트명 : commanine
 * 디렉토리   : public/css
 * 파일명     : research.css
 * 이력       : 0621 KMH new
 * *********************************** */ 
 /* .container {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
} */
 .middle {
    position: relative;
    width: 50%;
    max-width: 500px;
  }
  .slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}
.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #e2e2e2;
}
.slider > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #000;
}
.slider > .thumb {
    position: absolute;
    z-index: 999;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
}     


.slider > .thumb.left {
    left: 0%;
    transform: translate(-15px, -10px);
}    
.slider > .thumb.right {
    right: 0%;
    transform: translate(15px, -10px);
}    
input[type="range"] {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}    

input[type="range"]::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 0 none;
    background-color: #e2e2e2;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    appearance: none;
}    





ul{
    justify-content: center;
}    

.thumb{
    position:absolute;
    top:50%;
}    
.star{
    width:16px;
    height:16px;
}    

.searchBox{
    padding:20px;
    border:1px solid #000;
    margin:10px auto;
}    

.searchList{
    padding: 0;
}    

.poRelative{
    position : relative;
}

.poAbsolute{
    position:absolute;
} 

.countBox{
    display: none;
    top: 28px;
    width:183px;
    background-color: #fff;
    border:1px solid #000;
    padding:10px;
    right:125px;
    /* position:relative; */
}

.countBox > div {
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.countBox > div > input {
    width:100px;
    position:absolute;
    right:10px;
    padding-left:40px;
}

.searchBtn{
    width:200px;
    height:40px;
}


.countBox.active{
    display: inline-block;
    top: 28px;
    width:183px;
    background-color: #fff;
    border:1px solid #000;
    padding:10px 10px 50px 10px;
    right:125px;
    /* position:relative; */
}

.countChkBtn{
    position : absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
}
.qtybtn{
    background-color: #fff;
    border:1px solid #000;
    color: #000;
}

.qtybtn:hover{
    background-color: #000;
    border:1px solid #fff;
    color: #fff;
    transition:all 0.3s;
}

.pagination{
    justify-items: center;
}