.reviewList {
    font-weight: 900;
    font-size: 1.1em;
}
.reviewList::before {
    content: "\00B7";
    padding-right: 5px;
}
.msg {
    font-size: 12px;
    color: red;
    text-align: center;
}
.reviewBox {
    margin: 40px auto;
    width: 700px;
    height: 500px;
}
.review_wrap {
    border: 1px solid #5c5c5c;
    border-radius: 25px;
    padding: 50px;
    margin-top: 30px;
}
.con_box textarea {
    border: none;
}
.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
}

.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear 0.3s;
}

.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
}

.con_box label {
    vertical-align: top;
}

.updateBtn {
    /* grid-column: 3/3; */
    position: absolute;
    bottom: 5%;
    right: 39%;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    background-color: #000;
    color: #fff;
    border: none;
}
.updateBtn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.3s;
}
