*{
    box-sizing: border-box;
}
.wrap {
    width: 1300px;
    margin:20px auto;
}

.wrapGrid{
    display:grid;
    grid-template-columns: 2fr 10fr;
}
.listWrap{
    border-right:1px solid #e2e2e2;
}
.list{
    margin:40px;
}
.list>a{
    color:#000 ;
    text-decoration: none;

}
.list>a:hover{
    color:#000 ;
}

@media screen and (max-width: 768px) {
    /* 사이드바 css 적용 시작 */
    .wrapGrid{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr;
        margin: 0 auto;
        width: 100vw;
    }
    .listWrap > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 80vw;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
    }
    .list {
        margin: 0;
    }
    .listWrap {
    width: 100vw;
    }
    .updateBox {
        width: 100vw;
    }
    .listWrap{
        border-right: none;
        border-bottom: 1px solid #e2e2e2;
    }
}