*{
    box-sizing: border-box;
}
.wrap {
    width: 1300px;
    margin:20px auto;
}

.wrapGrid{
    display:grid;
    grid-template-columns: minmax(220px,2fr) 10fr;
}
.listWrap{
    border-right:1px solid #e2e2e2;
}
.list{
    margin:40px;
}
.list>a{
    color:#000 ;
    text-decoration: none;
}
.list>a:hover{
    color:#000 ;
}
@media all and (min-width:768px) and (max-width:1023px) {
.wrap {
    width: 90%;
    /* margin:20px auto; */
}
}
@media screen and (max-width: 767px) {
    /* 사이드바 css 적용 시작 */
    .wrapGrid{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 11fr;
        margin: 0 auto;
        width: 100vw;
    }
    .listWrap > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 80vw;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;

        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .listWrap > ul > li {
        margin: 0 auto;
    }
    .list {
        margin: 0;
    }
    .listWrap {
    width: 100%;
    }
    .updateBox {
        width: 100vw;
    }
    .listWrap{
        line-height: 40px;
        border-right: none;
        border-bottom: 1px solid #e2e2e2;
    }
}